@model IEnumerable<ShareSound_2_Front.Models.ListaViewModel>

@{
    ViewBag.Title = "Álbumes seguidos";
}

<h2>Álbumes seguidos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">

    @foreach (var item in Model)
    {
        <a class="col-lg-3 col-md-6 col-sm-12" href="@Url.Action("Details","Album", new { id = item.Id })">
            <div class="text-center">
                @{
                    if (item.ImagenExt == "")
                    {
                        <img src="~/src/Albumes/noimg.jpg" class="img_list" />
                    }
                    else
                    {
                        <img src="~/src/Albumes/@(item.Id + item.ImagenExt)" class="img_list" />
                    }
                }
            </div>
            <p class="text-center">@(item.Titulo)</p>
        </a>
    }

</div>